@import url('https://fonts.googleapis.com/css?family=Open+Sans|Anton|Roboto');

html {
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #121212;
  font-family: open sans;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

*{
  padding: 0;
 margin: 0;
}

h2, h3, h4{
	color: #121212;
	font-size: 15px;
	font-weight: 400;
	margin-left: 5%;
	margin-right: 15%;
}
h3{
	font-size: 19px;
	font-family: anton;
}
h4{
	font-size: 13px;
}

main .megif{
	display: none;
}

.gridcontainer{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"navigation"
									  "header"
									  "introduction"
									  "projects"
									  "footer"
}

/*NAVIGATION*/
nav{
	grid-area: navigation;
	list-style: none;
	text-align: center;
	height: 100%;
	width: 0;
	position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(32,26,35,0.90);
    overflow-x: hidden;
	/*font-family: open sans;*/
    transition: 0.5s;
}

h5{
	display: inline-block;
	color: #ffd478;
	font-family: anton;
	font-size: 35px;
	margin-left: 5%;
}

ul{
	display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

li{
	margin: 5%;
	font-size: 30px;
}

a{
	color: #FDFDFD;
	text-decoration: none;
	font-family: anton;
}

.fa-bars{
	position: fixed;
	color: #ffd478;
	font-size: 30px;
	top: 10px;
	right: 5%;
	z-index:0;
}

.closebtn{
	font-size: 40px;
    display: flex;
    justify-content: flex-end;
	margin-right: 6%;
	z-index: 10;
}

/*HEADER*/
main{
	grid-area: header;
	/*text styles*/
	font-family: anton;
	font-weight: 400;
	font-size: 50px;
	margin: 5%;
	margin-right: 15%;
}

.aboutmebutton{
	display: none;
}

#aboutme main{
	font-family: open sans;
	font-size: 20px;
}

#triangle-right{
    margin: 0 auto;
    width: 100%;
    height: 0;    
    padding-left:100%;
    padding-bottom: 5%;
    overflow: hidden;
}

#triangle-right:after{
	  display: block;
	  content: "";
      width: 0;
      height: 0;
	  background-color: #fafafa;
	  margin-left: -1024px;
      border-top: 50px solid #f4f4f4;
      border-right: 1024px solid transparent;
}

/*INTRODUCTION*/
#aboutme header{
	height: 200px;
	background: 
    /* top, transparent red */ 
    linear-gradient(
	   rgba(255, 207, 139, 0.45), 
	   rgba(255, 207, 139, 0.45)
    ),
    /* bottom, image */
    url(../images/abtme.png);
	background-size:cover;
	background-position: center;
}
header{
	grid-area:  introduction;
	background-color: #ffffff;
	padding: 5%;
	padding-right: 15%;
	/*text styles*/
	color: #121212;
}

#triangle-topright{
    margin: 0 auto;
    width: 100%;
    height: 0;    
    padding-left:100%;
    padding-bottom: 20%;
    overflow: hidden;
}

#triangle-topright:after{
	  content: "";
	  display: block;
      width: 0;
      height: 0;
	  margin-left: -1024px;
      border-top: 35px solid #fafafa;
      border-left: 1024px solid transparent;
}

/*PROJECTS*/
section{
	grid-area: projects;
}

.pros{
	display: block;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.28);
	opacity: 0.5;
	/*filter: grayscale(100%);*/
}

.woldhuis{
	background-image: url(../images/tabblad.png);
	background-size: cover;
	/*background-color: #342E37;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: none;
	/*font styles
	text-align: center;
	font-size: 35px;*/
}

.scribble{
	background-image: url(../images/scribble.png);
	background-size: cover;
}

.kaaswebsite{
	background-image: url(../images/kaaswebsite.png);
	background-size: cover;
}

.clock{
	background-image: url(../images/clock.png);
	background-size: cover;
	background-position: center;
}

/*FOOTER*/
footer{
	grid-area: footer;
}

.instagram, .linkedin, .youtube, .mail{
	display: flex;
	justify-content: center;
	align-items:center;
	padding: 0;
	text-align: center;
	height: 55px;
}

.grid-item i{
	color: #ffd478;
	font-size: 25px;
	display: block;
}

@media screen and (min-width: 1024px){
.gridcontainer{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"navigation"
									  "header"
									  "introduction"
									  "projects"
									  "footer"
}

#triangle-right{
	display: none;
}
#triangle-topright{
	display: none;
}

p, h2, h3, h4, h5{
	margin: 0;
}

h2{
	padding-top: 2%;
}

h5{
	display: inline-block;
    padding-left: 4%;
	z-index: 10;
}

nav{
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
	height: 55px;
    background-color: transparent;
}

ul{
	display: inline;
	width: 50%;
}

li {
  transition: opacity 0.2s;
  list-style: none;
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
}

li a{
	color: #121212;
}

li {
  transition: opacity 0.2s;
  list-style: none;
  display: inline-block;
}

ul:hover li:not(:hover) {
  opacity: 0.3;
  transition: 0.3s;
}

.closebtn{
	display: none;
}

.fa-bars{
	display: none;
}

main .megif{
	display: inline;
	position: absolute;
    bottom: 0;
    right: 50px;
    width: 25%;
    z-index: -10;
}

#js-menu{
	margin: 0;
	flex-flow: row;
	justify-content: center /*flex-end*/;
	width: 75%;
 }

 header{
	padding: 6%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
 
main{
	margin: 15%;
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	color: #121212;
}

#aboutme main{
	margin: 2%;
	font-weight: 400;
    font-family: open sans;
	padding: 20%;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 15px;
	animation: none;
}

#aboutme a .aboutmebutton{
	color: #201A23;
}

#aboutme header{
	display: block;
	padding: 15%;
	margin-top: 1%;
}

.aboutmebutton{
	width: 300px;
	height: 44px;
	background: #ffd478;
	border-radius: 40px;
	margin-top: 3%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.aboutmebutton:hover{
	background-color: #FCF2C2;
	color: #8276C9;
	transition: 0.5s;
}
.aboutmebutton a, .aboutmebutton p{
	font-size: 15px;
	font-family: open sans;
	font-size: 900;
	text-transform: uppercase;
	color: #201A23;
}
section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pros{
	height: 400px;
	width: 70%;
}

.pros .projecttext{
	visibility: hidden;
}

.pros:hover{
	opacity: 1;
	transition: 0.3s;
	visibility: visible;
}

.kaaswebsite{
	margin-bottom: 2%;
}

footer{
	display: flex;
	flex-direction: row;
justify-content: space-between;}

.instagram:hover, .linkedin:hover, .youtube:hover, .mail:hover{
	background-color: #FCF2C2;
	transition: 0.3s;
}
.instagram, .linkedin, .youtube,.mail{
	width: 25%;
	background-color: #121212;
}

}